:root {
    --default-font-size: 20px;
    --default-font-family: Arial, Helvetica, sans-serif; 
    --link-color: #515151;
    --show-button-width: 80px;
    --toggle-button-width: 35px;
}
body, table, div, span {
    color: var(--link-color);
    font-size: var(--default-font-size);
    font-family: var(--default-font-family);
}

input {
    font-size: var(--default-font-size);
    padding-left: 5px;
    width: 100%;
}

button {
    font-size: var(--default-font-size);
}

table {
    border-spacing: 0px;
    overflow-wrap: break-word; 
    white-space: pre-wrap; 
}

td {
    vertical-align:top;
}

a {
    color: var(--link-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.search_bar {
    position: fixed; top: 0px; left: 0px;
    width: 100%;
}

.show_button {
    width: var(--show-button-width);
}

.toggle_button {
    width: var(--toggle-button-width);
}

.container {
    margin-top: 40px;
}

.num {
    display: block;
    text-align: center;
    margin-right: 5px;
    user-select: none;
}

div.dir {
    margin-bottom: 20px;
}
span.dir:hover {
    background-color: #eaedf9;
    color: #191919;
    cursor: pointer;
}
div.toggle {
    margin-bottom: 20px;
}
span.toggle {
    cursor: pointer;
}
div.phpfiles {
    margin-bottom: 20px;
}

.flex {
    display: flex!important;
}

.inline-block {
    display: inline-block!important;
}

.none {
    display: none!important;
}

.width100 {
    width: 100%!important;
}